* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  color: #1c1d1f;
  margin: 0;
}

.td-container {
  width: 100%;
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.nav_header {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  height: 72px;
  z-index: 1;
}

.nav_header .container_header {
  margin: 0 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav_header .container_header .logo_img {
  width: 100%;
  height: 34px;
}

.nav_header .container_header .kind_menu {
  padding: 0 1.2rem;
  position: relative;
}

.nav_header .container_header .kind_menu:hover .dropdown-menu {
  display: block;
}

.nav_header .container_header .kind_menu .kind_menu_item {
  width: 222px;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 14px;
  -webkit-box-shadow: 0px 0px 9px 0px #a38e8e;
          box-shadow: 0px 0px 9px 0px #a38e8e;
  border-radius: 0;
  border: none;
}

.nav_header .container_header .kind_menu .kind_menu_item::after {
  content: "";
  position: absolute;
  width: 95px;
  height: 40px;
  right: 150px;
  top: -33px;
  background-color: transparent;
}

.nav_header .container_header .kind_menu .kind_menu_item li {
  font-size: 14px;
  line-height: 30px;
}

.nav_header .container_header .header_search {
  border: 1px solid gray;
  margin: 0 1.2rem;
  height: 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 24px;
}

.nav_header .container_header .header_search form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.nav_header .container_header .header_search form .header_search_btn {
  border: none;
  margin: 0 0.8rem;
  font-size: 20px;
}

.nav_header .container_header .header_search form .header_search_btn:hover {
  color: black;
  background-color: transparent;
}

.nav_header .container_header .header_search form .header_search_input {
  outline: 0;
  border: none;
  font-size: 14px;
  width: 100%;
}

.nav_header .container_header .header_teaching {
  margin: 0 1.2rem;
}

.nav_header .container_header .header_cart {
  padding: 0 1.2rem;
  position: relative;
}

.nav_header .container_header .header_cart .header_cart_link {
  font-size: 20px;
}

.nav_header .container_header .header_cart:hover .header_cart_detail-bill {
  display: block;
  width: 250px;
  height: 70px;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 9px 0px #a38e8e;
          box-shadow: 0px 0px 9px 0px #a38e8e;
  position: absolute;
  top: 54px;
  right: -16px;
  border: none;
}

.nav_header .container_header .header_cart:hover .header_cart_detail-bill::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 31px;
  right: 0;
  top: -28px;
  background-color: transparent;
}

.nav_header .container_header .header_cart:hover .header_cart_detail-bill li {
  text-align: center;
  font-size: 14px;
  margin-top: 16px;
  color: #6a6f73;
  font-weight: 900;
}

.nav_header .container_header .header_login {
  margin: 0 1.2rem;
}

.nav_header .container_header .header_login a {
  text-decoration: none;
  cursor: pointer;
}

.nav_header .container_header .header_regis {
  margin-right: 1.2rem;
}

.nav_header .container_header .header_regis a {
  text-decoration: none;
  cursor: pointer;
}

.nav_header .container_header .header_dark {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
}

.nav_header .container_header .header_dark i {
  font-size: 3.2rem;
}

.nav_header .container_header .nav-link {
  font-size: 1.4rem;
}

.footer_content {
  background-color: #252525;
  padding: 0 46px;
}

.footer_content .footer_content_header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #6a6f73;
  height: 96px;
}

.footer_content .footer_content_header .footer_content_header-text {
  color: #f7f9fa;
  font-weight: 600;
  padding: 0;
}

.footer_content .footer_content_header .footer_content_header-text a {
  color: #cec0fc;
  text-decoration: none;
  font-size: 1.9rem;
}

.footer_content .footer_content_header .footer_content_header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_content .footer_content_header .footer_content_header-logo li {
  padding-left: 2.4rem;
}

.footer_content .footer_content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_content .footer_content_container .footer_content_container-list {
  list-style-type: none;
  padding: 3rem 9rem 0 0;
}

.footer_content .footer_content_container .footer_content_container-list .footer_content_container-item {
  line-height: 2;
}

.footer_content .footer_content_container .footer_content_container-list .footer_content_container-item a {
  text-decoration: none;
  color: #f7f9fa;
}

.footer_content .footer_content_container .footer_content_container-list .footer_content_container-item a:hover {
  text-decoration: underline;
}

.footer_content .footer_content_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.4rem 0;
}

.footer_content .footer_content_end img {
  width: 116px;
  height: 100%;
}

.footer_content .footer_content_end p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  color: #f7f9fa;
  font-size: 1.2rem;
  margin: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.carousel {
  width: 1340px;
  height: 400px;
  margin: 0 auto;
}

.carousel .carousel__text {
  width: 440px;
  background-color: #fff;
  padding: 2.4rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  position: absolute;
  left: 7.2rem;
  top: 6.4rem;
}

.carousel .carousel__text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.02rem;
}

.carousel .carousel__text p {
  font-size: 1.9rem;
  margin: 0;
}

.carousel .carousel__text button {
  margin-top: 1.6rem;
}

.carousel .carousel-control-next, .carousel .carousel-control-prev {
  opacity: 1;
  z-index: unset;
}

.courses__content {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.courses__content .courses__text {
  margin-bottom: 1.6rem;
}

.courses__content .courses__text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  letter-spacing: 0.05rem;
}

.courses__content .courses__text p {
  font-size: 1.9rem;
  width: 80rem;
  margin-bottom: 1.6rem;
}

.courses__content #tdTabContent {
  padding: 0 3rem 3rem;
  border: 1px solid #d1d7dc;
  position: relative;
}

.courses__content #tdTabContent .courses__item .owl-item, .courses__content #tdTabContent .courses__item .owl-wrapper {
  -webkit-transform: unset !important;
}

.courses__content #tdTabContent .courses__item .owl-nav button:hover {
  background-color: #3e4143;
}

.courses__content #tdTabContent .courses__item .owl-nav button span {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2.6rem;
}

.courses__content #tdTabContent .courses__item .owl-nav .owl-next {
  border-radius: 50%;
  text-align: center;
  background-color: #1c1d1f;
  border: 1px solid #6a6f73;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 48px;
  height: 48px;
  line-height: 45px;
  position: absolute;
  top: 25%;
  left: none;
  right: -3rem;
}

.courses__content #tdTabContent .courses__item .owl-nav .owl-next span {
  padding-left: 0.4rem;
}

.courses__content #tdTabContent .courses__item .owl-nav .owl-prev {
  border-radius: 50%;
  text-align: center;
  background-color: #1c1d1f;
  border: 1px solid #6a6f73;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 48px;
  height: 48px;
  line-height: 45px;
  position: absolute;
  top: 25%;
  left: -3rem;
  right: none;
}

.courses__content #tdTabContent .courses__item .owl-nav .owl-prev span {
  padding-right: 0.4rem;
}

.courses__content #tdTabContent .courses__des {
  margin: 3rem 0;
}

.courses__content #tdTabContent .courses__des h3 {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
}

.courses__content #tdTabContent .courses__des p {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  width: 80rem;
}

.courses__content #tdTab {
  margin: 0 0 1rem;
  border: none;
}

.courses__content #tdTab .nav-item .nav-link {
  color: #6a6f73;
  font-weight: 700;
  border: none;
  padding-left: 0px;
  padding-right: 3rem;
}

.courses__content #tdTab .nav-item .nav-link.active {
  color: #1c1d1f;
}

.feedback {
  background-color: #f7f9fa;
}

.feedback .feedback_container {
  padding: 7rem 2.4rem;
}

.feedback .feedback_container .feedback_title {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.feedback .feedback_container #feedback_carousel-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 404px;
}

.feedback .feedback_container #feedback_carousel-id .owl-nav button:hover {
  background-color: #3e4143;
}

.feedback .feedback_container #feedback_carousel-id .owl-nav button span {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2.6rem;
}

.feedback .feedback_container #feedback_carousel-id .owl-nav .owl-next {
  border-radius: 50%;
  text-align: center;
  background-color: #1c1d1f;
  border: 1px solid #6a6f73;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 48px;
  height: 48px;
  line-height: 45px;
  position: absolute;
  top: 40%;
  left: none;
  right: -2rem;
}

.feedback .feedback_container #feedback_carousel-id .owl-nav .owl-next span {
  padding-left: 0.4rem;
}

.feedback .feedback_container #feedback_carousel-id .owl-nav .owl-prev {
  border-radius: 50%;
  text-align: center;
  background-color: #1c1d1f;
  border: 1px solid #6a6f73;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 48px;
  height: 48px;
  line-height: 45px;
  position: absolute;
  top: 40%;
  left: -2rem;
  right: none;
}

.feedback .feedback_container #feedback_carousel-id .owl-nav .owl-prev span {
  padding-right: 0.4rem;
}

.feedback .feedback_container #feedback_carousel-id .feedback_carousel-list {
  -webkit-box-shadow: 0px 0px 1px 1px #1c1d1f;
          box-shadow: 0px 0px 1px 1px #1c1d1f;
  width: 396px;
  border-radius: 6px;
  padding: 25px 40px;
  margin: 10px 20px 0 20px;
  height: 392px;
}

.feedback .feedback_container #feedback_carousel-id .feedback_carousel-list .feedback_carousel-list-head {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.feedback .feedback_container #feedback_carousel-id .feedback_carousel-list .feedback_carousel-list-text {
  margin-bottom: 4rem;
}

.feedback .feedback_container #feedback_carousel-id .feedback_carousel-list .feedback_carousel-list-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d5dbdf;
  padding-bottom: 1.4rem;
}

.feedback .feedback_container #feedback_carousel-id .feedback_carousel-list .feedback_carousel-list-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.feedback .feedback_container #feedback_carousel-id .feedback_carousel-list .feedback_carousel-list-user p {
  font-weight: 600;
  margin: 0;
}

.feedback .feedback_container #feedback_carousel-id .feedback_carousel-list .feedback_carousel-list-end {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback .feedback_container #feedback_carousel-id .feedback_carousel-list .feedback_carousel-list-end a {
  text-decoration: none;
  color: #177e5e;
  font-weight: 600;
}

.featured {
  background-color: #f7f9fa;
}

.featured .featured_container {
  padding: 7rem 2.4rem;
}

.featured .featured_container .featured_title {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.featured .featured_container .featured_content .featured_content-list {
  padding-left: 0px;
  margin: 0 -2rem;
}

.featured .featured_container .featured_content .featured_content-list li {
  list-style-type: none;
  padding: 0 20px;
  margin-bottom: 2rem;
}

.featured .featured_container .featured_content .featured_content-list li a {
  text-decoration: none;
}

.featured .featured_container .featured_content .featured_content-list li a .featured_content-link-img {
  overflow: hidden;
  border-radius: 24px;
  margin-bottom: 1.2rem;
  -webkit-box-shadow: 4px 6px 10px #6a6f73;
          box-shadow: 4px 6px 10px #6a6f73;
}

.featured .featured_container .featured_content .featured_content-list li a .featured_content-link-img img {
  width: 100%;
  height: 100%;
}

.featured .featured_container .featured_content .featured_content-list li a .featured_content-link-title p {
  color: #1c1d1f;
  font-weight: 500;
}

.featured .featured_container .featured_content .featured_content-list li a .featured_content-link-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured .featured_container .featured_content .featured_content-list li a .featured_content-link-user p {
  color: #3e4143;
}

.bestseller {
  padding: 6.4rem 0 0;
}

.bestseller h2 {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.bestseller .bestseller__item .owl-item, .bestseller .bestseller__item .owl-wrapper {
  -webkit-transform: unset !important;
}
.bestseller .bestseller__item .owl-nav button:hover {
  background-color: #3e4143;
}

.bestseller .bestseller__item .owl-nav button span {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2.6rem;
}

.bestseller .bestseller__item .owl-nav .owl-next {
  border-radius: 50%;
  text-align: center;
  background-color: #1c1d1f;
  border: 1px solid #6a6f73;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 48px;
  height: 48px;
  line-height: 45px;
  position: absolute;
  top: 25%;
  left: none;
  right: -3rem;
}

.bestseller .bestseller__item .owl-nav .owl-next span {
  padding-left: 0.4rem;
}

.bestseller .bestseller__item .owl-nav .owl-prev {
  border-radius: 50%;
  text-align: center;
  background-color: #1c1d1f;
  border: 1px solid #6a6f73;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 48px;
  height: 48px;
  line-height: 45px;
  position: absolute;
  top: 25%;
  left: -3rem;
  right: none;
}

.bestseller .bestseller__item .owl-nav .owl-prev span {
  padding-right: 0.4rem;
}

.categories {
  padding: 6.4rem 0 0 0;
}

.categories h2 {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.categories .categories_content .row .card {
  border: none;
  width: 29rem;
  height: 29rem;
  overflow: hidden;
}
.categories .categories_content .row .card .card-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.categories .categories_content .row .card .card-img img {
  width: 100%;
  height: 100%;
  transition: 1.5s;
}
.categories .categories_content .row .card .card-img img:hover {
  transform: scale(1.2);
}

.categories .categories_content .row .card .card-body h3 {
  font-weight: bold;
  padding: 1.2rem 0 2.4rem 0;
}

.companies .companies_container .row h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
  text-align: center;
  padding: 4rem 0 1.2rem 0;
}
.companies .companies_container .row p {
  text-align: center;
}
.companies .companies_container .row .col-img {
  display: flex;
  justify-content: space-around;
  padding: 4rem 9rem;
}

.teaching .teaching_container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5.2rem 16rem;
}

.teaching .teaching_container .row .col-left {
  text-align: center;
}

.teaching .teaching_container .row .col-left img {
  width: 60%;
}

.teaching .teaching_container .row .col-right {
  padding: 9rem 0;
}

.teaching .teaching_container .row .col-right h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-around;
  padding: 4rem 9rem;
}

.button-white-medium {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  transition: all 0.3s;
  color: #1c1d1f;
  background-color: #fff;
  border: 1px solid #1c1d1f;
  font-size: 1.4rem;
  padding: 1.2rem 1.2rem;
}

.button-white-medium:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.button-black-medium {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  transition: all 0.3s;
  color: #fff;
  background-color: #1c1d1f;
  border: 1px solid #1c1d1f;
  font-size: 1.4rem;
  padding: 1.2rem 1.2rem;
}

.button-black-medium:hover {
  background-color: #3e4143;
}

.button-white-large {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  transition: all 0.3s;
  color: #1c1d1f;
  background-color: #fff;
  border: 1px solid #1c1d1f;
  font-size: 1.6rem;
  padding: 1.4rem 1.2rem;
}

.button-white-large:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.button-black-large {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  transition: all 0.3s;
  color: #fff;
  background-color: #1c1d1f;
  border: 1px solid #1c1d1f;
  font-size: 1.6rem;
  padding: 1.4rem 1.2rem;
}

.button-black-large:hover {
  background-color: #3e4143;
}

.button-next-medium {
  border-radius: 50%;
  text-align: center;
  background-color: #1c1d1f;
  border: 1px solid #6a6f73;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 18rem;
  left: none;
  right: 1.6rem;
}

.button-next-medium:hover {
  background-color: #3e4143;
}

.button-prev-medium {
  border-radius: 50%;
  text-align: center;
  background-color: #1c1d1f;
  border: 1px solid #6a6f73;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 18rem;
  left: 1.6rem;
  right: none;
}

.button-prev-medium:hover {
  background-color: #3e4143;
}

.button-next-large {
  border-radius: 50%;
  text-align: center;
  background-color: #1c1d1f;
  border: 1px solid #6a6f73;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 48px;
  height: 48px;
  line-height: 48px;
  position: absolute;
  top: 25%;
  left: none;
  right: -2.4rem;
}

.button-next-large:hover {
  background-color: #3e4143;
}

.button-prev-large {
  border-radius: 50%;
  text-align: center;
  background-color: #1c1d1f;
  border: 1px solid #6a6f73;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 48px;
  height: 48px;
  line-height: 48px;
  position: absolute;
  top: 25%;
  left: -2.4rem;
  right: none;
}

.button-prev-large:hover {
  background-color: #3e4143;
}

.card {
  border: none;
  overflow: hidden;
}

.card .card-body {
  padding: 0;
}

.card .card-body a {
  text-decoration: none;
  color: #1c1d1f;
}

.card .card-body a h5 {
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0.8rem 0 0.4rem;
}

.card .card-body p {
  color: #6a6f73;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.card .card-body .card-stars {
  margin-bottom: 0.4rem;
}

.card .card-body .card-stars span i {
  color: #e59819;
  font-size: 1.2rem;
}

.card .card-body .card-stars .card-icon {
  margin: 0 0.3rem;
  letter-spacing: -0.1rem;
}

.card .card-body .card-stars .card-rate {
  color: #b4690e;
  font-size: 1.4rem;
  font-weight: 700;
}

.card .card-body .card-stars .card-total {
  font-size: 1.2rem;
  font-weight: 400;
  color: #6a6f73;
}

.card .card-body .card-price {
  margin-bottom: 0.4rem;
}

.card .card-body .card-price span {
  font-size: 1.6rem;
  font-weight: 700;
  margin-right: 0.4rem;
}

.card .card-body .card-price span .vnd {
  text-decoration: underline;
}

.card .card-body .card-price .sale {
  color: #6a6f73;
  font-size: 1.4rem;
  text-decoration: line-through;
  font-weight: 400;
}

.card .card-body .card-price .sale span {
  font-weight: 400;
  font-size: 1.4rem;
}

.card .card-body .card-sell {
  font-size: 1.2rem;
  background-color: #eceb98;
  color: #3d3c0a;
  padding: 0.4rem 0.8rem;
  font-weight: 700;
}

.card .card-popover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  top: 0.3rem;
  left: 24.98rem;
  z-index: 10;
  width: 35rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 2.4rem;
  height: 95%;
}

.card .card-popover a {
  text-decoration: none;
  color: #1c1d1f;
}

.card .card-popover a h3 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.card .card-popover a:hover {
  color: #177e5e;
}

.card .card-popover .section-first {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  color: #113731;
}

.card .card-popover .section-first .best-seller {
  background-color: #eceb98;
  color: #3d3c0a;
  padding: 0.4rem 0.8rem;
  font-weight: 700;
  margin-right: 0.8rem;
}

.card .card-popover .section-first .date {
  font-weight: 700;
}

.card .card-popover .section-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: #6a6f73;
}

.card .card-popover .section-second .dot {
  display: inline-block;
  width: 3px;
  height: 3px;
  line-height: 3px;
  background-color: #6a6f73;
  border-radius: 50%;
  margin: 0 0.8rem;
}

.card .card-popover p {
  font-size: 1.4rem;
}

.card .card-popover .card-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .card-popover .card-btn .add-cart {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  transition: all 0.3s;
  color: #fff;
  background-color: #15AD7D;
  border: 1px solid #15AD7D;
  font-size: 1.6rem;
  padding: 1rem 2.4rem;
  margin-right: 1.2rem;
}

.card .card-popover .card-btn .add-cart:hover {
  background-color: #177e5e;
}

.card .card-popover .card-btn .add-like {
  background-color: #fff;
  border: 1px solid #3e4143;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .card-popover .card-btn .add-like i {
  font-size: 2.4rem;
}

.card .card-popover .card-btn .add-like:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
/*# sourceMappingURL=main.css.map */
.card:hover {
  overflow: visible;
}
.card:hover .card-popover {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */
