@mixin styleButton($color, $bg-color, $border, $fs, $pd-x, $pd-y) {
    font-weight: $fw-4;
    line-height: $line-height-1;
    letter-spacing: $letter-spacing-1;
    transition: all 0.3s;
    color: $color;
    background-color: $bg-color;
    border: 1px solid $border;
    font-size: $fs;
    padding: $pd-y $pd-x;
}

@mixin styleButtonControl($width, $height, $line-height, $top, $left, $right) {
    border-radius: 50%;
    text-align: center;
    background-color: $color-black-1;
    border: 1px solid $color-gray-0;
    box-shadow: $box-shadow-1;
    width: $width;
    height: $height;
    line-height: $line-height;
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
}

@mixin arrow($size, $direction, $color) {
    border-style: solid;
    border-color: transparent;
    display: inline-block;
    border-width: $size;

    @if $direction == up {
        border-bottom-color: $color;
    } @else if $direction == down {
        border-top-color: $color;
    } @else if $direction == left {
        border-right-color: $color;
    } @else if $direction == right {
        border-left-color: $color;
    } @else {
        @error "Unknown direction: #{$direction}.";
    }
}
