//COLOR
$color-white-0: #fff;
$color-white-1: #f7f9fa;
$color-green-0: #15AD7D;
$color-green-1: #177e5e;
$color-green-2: #acd2cc;
$color-green-3: #113731;
$color-black-0: #252525;
$color-black-1: #1c1d1f;
$color-black-2: rgba(0,0,0,.04);
$color-black-3: #252525;
$color-gray-0: #6a6f73;
$color-gray-1: #3e4143;
$color-gray-2: #d1d7dc;
$color-orange-0: #b4690e;
$color-yellow-0: #e59819;
$color-yellow-1: #eceb98;
$color-yellow-2: #3d3c0a;
$color-purple-0: #a435f0;
$color-purple-1: #8710d8;
$color-purple-2: #cec0fc;
$color-blue-0: #5624d0;
$color-blue-1: #401b9c;

//FONT SIZE
$fs-html: 10px;
$fs-0: 1.4rem;
$fs-1: 3.2rem;
$fs-2: 1.6rem;
$fs-3: 1.9rem;
$fs-4: 2.4rem;
$fs-5: 1.2rem;
$fs-6: 3rem;
$fs-7: 3.5rem;

//FONT WEIGHT
$fw-0: 300;
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

//LINE HEIGHT
$line-height-0: 1.4;
$line-height-1: 1.2;
$line-height-2: 1.25;

//LETTER SPACING
$letter-spacing-0: -.05rem;
$letter-spacing-1: -.02rem;
$letter-spacing-2: normal;

//MARGIN
$mg-0: 1.2rem;
$mg-1: 0.8rem;
$mg-2: 1.6rem;
$mg-3: 9.8rem;
$mg-4: 0.4rem;
$mg-5: 2.4rem;
$mg-6: 6.4rem;
$mg-7: 3.2rem;

//PADDING
$pd-0: 2.4rem;
$pd-1: 1.2rem;
$pd-2: 0.4rem;
$pd-3: 1rem;
$pd-4: 0.8rem;
$pd-5: 3.2rem;
$pd-6: 6.4rem;
$pd-7: 1.6rem;
$pd-8: 4.8rem;
$pd-9: 4rem;
$pd-10: 2rem;
$pd-11: 1.4rem;
$pd-12: 3rem;

//BOX SHADOW
$box-shadow-1: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);

//BREAK POINTS
$breakpoints:(
    'screen-1':1350px,
    'extra-large':1200px,
    'large':992px,
    'medium':768px,
    'small':576px
);