.companies {
    .companies_container {
        .row {
            h1 {
                font-family: 'Playfair Display', serif;
                font-size: $fs-4;
                font-weight: bold;
                letter-spacing: $letter-spacing-0;
                text-align: center;
                padding: $pd-9 0 $pd-1 0;
            }

            p {
                text-align: center;
            }

            .col-img {
                display: flex;
                justify-content: space-around;
                padding: $pd-9 $pd-13;
            }
        }
    }
}