.featured{
    background-color: $color-white-1;
    .featured_container{
        padding: $pd-14 $mg-5;
        .featured_title{
            font-size: $fs-4;
            margin-bottom: $mg-5;
        }
        .featured_content{
            .featured_content-list{
                padding-left: 0px;
                margin: 0 $mg-11;
                li{
                    list-style-type: none;
                    padding: 0 20px;
                    margin-bottom: $mg-10;
                    a{
                        text-decoration: none;
                        .featured_content-link-img{
                            overflow: hidden;
                            border-radius: 24px;
                            margin-bottom: $mg-0;
                            box-shadow: 4px 6px 10px $color-gray-0;
                            img{
                                width: 100%;
                                height: 100%;
                                
                            }
                        }
                        .featured_content-link-title{
                            
                            p{
                                color: $color-black-1;
                                font-weight: $fw-2;
                            }
                        }
                        .featured_content-link-user{
                            display: flex;
                            justify-content: space-between;
                            p{
                                color: $color-gray-1;
                            }
                        }
                    }
                }
            }
        }
    }
}