.feedback{
    background-color: $color-white-1;
    .feedback_container{
        padding: $pd-14 $mg-5;
        .feedback_title{
            font-size: $fs-4;
            margin-bottom: $mg-2;
        }
        #feedback_carousel-id{
            display: flex;
            justify-content: space-between;
            height: 404px;
            .owl-nav{
                button{
                    &:hover{
                        background-color: $color-gray-1;
                    }
                    span{
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        color: $color-white-0;
                        font-size: $fs-7;
                    }
                }
                .owl-next{
                    @include styleButtonControl(48px, 48px, 45px, 40%, none, -2rem);
                    span{
                        padding-left: $pd-2;
                    }
                }
                .owl-prev{
                    @include styleButtonControl(48px, 48px, 45px, 40%, -2rem, none);
                    
                    span{
                        padding-right: $pd-2;
                    }
                }
            }
            .feedback_carousel-list{
                box-shadow: 0px 0px 1px 1px #1c1d1f;
                width: 396px;
                border-radius: 6px;
                padding: 25px 40px;
                margin: 10px 20px 0 20px;
                height: 392px;
                
                .feedback_carousel-list-head{
                    font-size: $fs-6;
                    margin-bottom: $mg-1;
                }
                .feedback_carousel-list-text{
                    margin-bottom: $mg-8;
                }
                .feedback_carousel-list-user{
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid $color-gray-3;
                    padding-bottom: $pd-11;
                    
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin-right:$mg-1 ;
                    }
                    p{
                        font-weight: $fw-3;
                        margin: 0;
                    }
                }
                .feedback_carousel-list-end{
                    margin-top: $mg-2 + $mg-4;
                    display: flex;
                    justify-content: center;
                    a{
                        
                        text-decoration: none;
                        color: $color-green-1;
                        font-weight: $fw-3;
                    }
                }
            }
        }
        
    }
}