.nav_header{
    background-color: $color-white-0;
    box-shadow: 12px 0px 11px -4px $color-black-0;
    height: 72px;
    z-index: 1;
}
.logo_img{
    width: 100px;
    height: 36px;
}
.container_header{
    margin: 0 $mg-2 + $mg-4;
}