.posts{
    background-color: $color-white-1;
    .posts_container{
        padding: $pd-14 $mg-5;
        .posts_title{
            font-size: $fs-4;
            margin-bottom: $mg-2;
        }
        .posts_content{
            .posts_content-list{
                padding-left: 0px;
                margin: 0 $mg-11;
                li{
                    list-style-type: none;
                    padding: 0 20px;
                    margin-bottom: $mg-10;
                    a{
                        text-decoration: none;
                        .posts_content-link-img{
                            overflow: hidden;
                            border-radius: 3px;
                            margin-bottom: $mg-0;
                            img{
                                width: 29.5rem;
                                height: 16.5rem;
                                object-fit: cover;
                                
                            }
                        }
                        .posts_content-link-title{
                            
                            p{
                                color: $color-black-1;
                                font-weight: $fw-2;
                            }
                        }
                        .posts_content-link-user{
                            display: flex;
                            justify-content: space-between;
                            p{
                                color: $color-gray-1;
                            }
                        }
                    }
                }
            }
        }
    }
}