.btn-thao-tac-column-type {
    .btn {
        width: 17% !important;
        height: 27px !important;
        margin: 5px 42% !important;
        padding: 0 !important;
    }
}

.table-hover {
    .line-height {
        line-height: 94px !important;
    }
}