.content-qt-admin {
    .table-hover {
        tbody {
            .tieu-de-ac {
                width: 17%;
                text-align: center;
                p{
                    line-height: 8px;
                    margin: 10% 0;
                }
            }
            .btn-thao-tac-column-2{
                button{
                    margin: 7% 0;
                }
            }
        }
    }
}