.clear {
    clear: both;
}

.header-controlCourse {
    width: 85%;
    display: flex;
    justify-content: space-around;
    position: relative;
    float: right;

    // left: 15%;
    .nav_header {
        background: none;
        box-shadow: none;
        width: 100%;

        .container_header {
            display: flex;
            justify-content: end;
        }
    }

}

.sidebar {
    width: 15%;
    background: black;
    margin: 0 !important;
    position: relative;
    left: 0;
    top: 0;
    float: left;
    height: 1246px;

    .container-sidebar {
        .row {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            .siderbar-logo {
                padding: 12%;

                img {
                    width: 80%;
                }
            }

            .sidebar-content {
                text-align: left;
                margin: 0 -2%;
                line-height: 4rem;

                ul {
                    padding: 0;
                    list-style: none;

                    li {
                        .txt-sidebar {
                            width: 100%;
                            padding-left: 20%;
                            // border-left: 4px solid #15ad7d;
                            padding-top: 1%;
                            padding-bottom: 1%;
                            margin: 4% 0;

                            a {
                                text-decoration: none;
                                color: white;
                                margin: 0 10%;
                            }
                        }

                        &:hover {
                            .txt-sidebar {
                                cursor: pointer;
                                border-left: 4px solid #15ad7d;
                            }
                        }
                    }

                }
            }
        }
    }
}

.control {
    width: 85%;
    margin: 0;
    float: left;
    padding: 2%;

    .container-control {
        .row {
            display: flex;
            flex-direction: column;

            .col-sm {
                width: 100%;
            }

            .col-1 {
                display: flex;
                justify-content: space-between;

                .col-1-right {
                    width: 15%;
                    text-align: center;

                    .btn-success {
                        width: 90%;
                        padding: 6% 0;
                        font-size: 1.3rem;
                        font-weight: bold;
                    }

                }

                .col-1-left {
                    h1 {
                        color: black;
                        font-weight: bold;
                        font-size: 3.5rem;
                        letter-spacing: 0.2rem;
                        padding-bottom: 1%;
                    }

                    .form-search-ctr {
                        width: 73%;
                        margin: 0;
                        float: left;

                        .input-ctr-search {
                            padding: 0.7rem 1rem;
                            color: black;
                            width: 95%;
                            border: 2px solid black;
                            margin: 0;
                        }

                        button {
                            background: black;
                            border: none;
                            height: 39px;
                            width: 39px;
                            margin-left: -43px;
                            position: relative;
                            top: -1px;
                        }
                    }

                    .form-filter-ctr {
                        float: left;
                        width: 25%;
                        height: 38.6px;

                        select {
                            height: 100%;
                            border: 2px solid black;
                            padding: 0 2%;
                        }
                    }

                }
            }

            .col-2 {
                .td-container {
                    padding: 0;

                    .header-infor-cart {
                        padding: 0;
                    }

                    .all-body-cart {
                        padding: 0 !important;

                        .body-info-cart {
                            width: 90%;

                            .cart-info {
                                .cart-info-img {
                                    width: 12%;
                                }

                                .cart-info-details {
                                    width: 30%;
                                }

                                .cart-info-price {
                                    width: 35%;
                                }

                                .cart-info-control {
                                    width: 13%;
                                    display: flex;
                                    flex-direction: column;
                                    margin: 0 3%;

                                    button {
                                        margin: 5% 0;
                                        padding: 7% 0 !important;
                                        font-weight: bold !important;
                                        font-size: 1.2rem !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-number {
    width: 100%;
    height: 40px;

    .pagination {
        justify-content: center;

        .page-item {
            .page-link {
                padding: 1rem 2rem;
                font-size: 1.5rem;
            }
        }
    }
}