.control-controlCourse {
    .container-qt {
        padding: 30px 30px 48px;
        .row {
            display: flex;
            flex-direction: column;
            .col-1 {
                .col-1-right {
                    width: 12%;

                    .btn-success {
                        width: 100%;
                        padding: 5% 0;
                        font-size: 1.3rem;
                        font-weight: bold;
                    }
                }

                .col-1-left {
                    .form-search-ctr {
                        width: 73%;
                        margin: 0;
                        float: left;

                        .input-ctr-search {
                            padding: 0.7rem 1rem;
                            color: black;
                            width: 95%;
                            border: 2px solid black;
                            margin: 0;
                        }

                        button {
                            background: black;
                            border: none;
                            height: 39px;
                            width: 39px;
                            margin-left: -43px;
                            position: relative;
                            top: -1px;
                        }
                    }

                    .form-filter-ctr {
                        float: left;
                        width: 25%;
                        height: 38.6px;

                        select {
                            height: 100%;
                            border: 2px solid black;
                            padding: 0 2%;
                        }
                    }

                }
            }

            .col-2 {
                .td-container {
                    padding: 0;

                    .header-infor-cart {
                        padding: 0;
                        .cart-filters{
                            width: 100%;
                            margin-bottom: 0;
                            padding-bottom: 8px;
                            border-bottom: 1px solid $color-gray-2;
                        }
                    }

                    .all-body-cart {
                        padding: 0 !important;

                        .body-info-cart {
                            width: 100%;

                            .cart-info {
                                border-top: none;
                                border-bottom: 1px solid $color-gray-2;
                                justify-content: space-between;
                                .cart-info-img {
                                    width: 11%;
                                    margin: 0;
                                    img{
                                        width: 100%;
                                    }
                                }

                                .cart-info-details {
                                    width: 32%;
                                }

                                .cart-info-price {
                                    width: 35%;
                                }

                                .cart-info-control {
                                    width: 13%;
                                    display: flex;
                                    flex-direction: column;
                                    margin-left: 50px;
                                    .btn-detail-admin{
                                        margin-bottom: 0;
                                    }
                                    .btn-delete-admin{
                                        margin-bottom: 0;
                                    }
                                    button {
                                        font-size: 14px!important;
                                        width: 100%;
                                        padding: 8px 0;
                                        font-weight: bold !important;
                                    }
                                    a{
                                        text-align: center;
                                        font-size: 14px!important;
                                        width: 100%;
                                        padding: 8px 0;
                                        font-weight: bold !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

