.passchanges_container{
    height: 600px;
    justify-content: center;
    align-items: center ;
    display: flex;
    .passchanges_content{
        width: 350px;
        .passchanges_content-title{
            font-size: $fs-4;
            font-weight: $fw-3;
            margin-bottom: $mg-0;
        }
        .passchanges_content-login{
            p{
                margin-bottom: $mg-1;
                font-weight: $fw-2;
            }
            input{
                width: 100%;
                margin-bottom: $mg-0;
                height: 46px;
                padding-left: $pd-7;

            }
        }
        .passchanges_content-submit{
            button{
                width: 100%;
                height: 46px;
                border: none;
                background-color: $color-green-0;
                color: $color-white-0;
                font-weight: $fw-2;
                margin-bottom: $mg-0;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
        .passchanges_content-move-register{
            height: 46px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid $color-gray-2;
            a{
                color: $color-green-1;
                font-weight: $fw-2;
                margin-left: $mg-4;
            }
            
        }
    }
}   