.container-all {
    display: flex;
    justify-content: space-around;

    .col-left {
        width: 15%;

        .sidebar {
            width: 100%;
            background: black;
            margin: 0 !important;
            box-sizing: border-box;
            height: 100%;

            .container-sidebar {
                .row {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;

                    .siderbar-logo {
                        padding: 12%;

                        img {
                            width: 80%;
                        }
                    }

                    .col-sm.sidebar-content {
                        text-align: left;
                        margin: 0 -2%;

                        ul {
                            padding: 0;
                            list-style: none;

                            li {
                                .txt-sidebar {
                                    width: 100%;
                                    padding-left: 20%;
                                    // border-left: 4px solid #15ad7d;
                                    padding-top: 1%;
                                    padding-bottom: 1%;
                                    margin: 4% 0;

                                    img {
                                        opacity: 0.7;
                                    }

                                    a {
                                        text-decoration: none;
                                        color: white;
                                        margin: 0 10%;
                                        opacity: 0.7;
                                    }
                                }

                                &:hover {
                                    a {
                                        opacity: 1;
                                    }

                                    img {
                                        opacity: 1;
                                    }

                                    .txt-sidebar {
                                        cursor: pointer;
                                        border-left: 4px solid #15ad7d;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .col-right {
        width: 85%;

        .header-sideHead {
            width: 100%;
            display: flex;
            justify-content: space-around;
            box-shadow: 1px 1px 7px gray;

            // left: 15%;
            .nav_header {
                background: none;
                box-shadow: none;
                width: 100%;

                .container_header {
                    display: flex;
                    justify-content: end;
                }
            }

        }



        .content-qt {
            width: 100%;
            margin: 0;
            min-height: 100vh;
            .container-qt {
                .row {
                    display: flex;
                    flex-direction: column;

                    .col-sm {
                        width: 100%;
                    }

                    .col-1 {
                        display: flex;
                        justify-content: space-between;

                        .col-1-left {
                            h1 {
                                color: black;
                                font-weight: bold;
                                font-size: 3.5rem;
                                letter-spacing: 0.2rem;
                                padding-bottom: 1%;
                            }
                        }
                    }
                }
            }
        }

        .next-revious {
            width: 100%;
            display: flex;
            justify-content: center;

            .page-link {
                padding: 6px 16px;
                font-size: 1.6rem;
                color: green;
                font-weight: bold;
                border: 1px solid green;
            }
        }
    }
}