.passchanges_container{
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    .passchanges_container-img{
        width: 450px;
        height: 400px;
        img{
            width: 100%;
            height: 100%;
            object-position: 0px -14px;
            object-fit: cover;
        }
    }
    form{
        width: 640px;
        .passchanges_content-title{
            font-size: $fs-4;
            font-weight: $fw-3;
            margin-bottom: $mg-5-2;
            text-align: center;
        }
        .passchanges_content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .passchanges_content-login{
                flex: 1;
                &:first-child{
                    margin-right: $mg-10;
                }
                p{
                    margin-bottom: $mg-1;
                    font-weight: $fw-2;
                }
                div{
                    height: 46px;
                    border: 1px solid $color-gray-1;
                    display: flex;
                    align-items: center;
                    input{
                        height: 28px;
                        margin-bottom: 0;
                    }
                }
                textarea{
                    width: 100%;
                    padding: $pd-2;
                }
            }
        }
        button{
            width: 100%;
                height: 46px;
                border: none;
                background-color: $color-green-0;
                color: $color-white-0;
                font-weight: $fw-2;
                margin-bottom: $mg-0;
                &:hover{
                    opacity: 0.8;
                }
        }
    }
    
}   